# Git
.git
.gitignore

# Build dirs
node_modules
dist
npm-debug.log

# Configs
Dockerfile
.dockerignore
.eslintrc*
.prettierrc*
.vscode/
.env.example

# Test & db
test/
coverage/
jest.config.json
database/

# Docs
*.md
LICENSE